body {
    background: url(sky.jpg); 
    -webkit-background-size: 150vw 100vh;
    -moz-background-size: 150vw 100vh;
    -o-background-size: 150vw 100vh;
  	background-size: 150vw 100vh;
  	background-position: 0% 0%;
	font-family: helvetica;
}

#bullet {
	/*border: 1px solid #000;*/
	background-image: url('bullet.png');
	height: 93px;
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	border-radius: 0px 100px 100px 0px;
	box-shadow: 4px 0px 10px #fff;
	color: #fff;
	z-index: 10;
}

#slider {
	height: 100vh;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 11;
}

#top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 30vh;
	background: rgba(51,51,51,1);
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,1)), color-stop(19%, rgba(43,43,43,1)), color-stop(48%, rgba(28,28,28,1)), color-stop(100%, rgba(51,51,51,1)));
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=1 );
	z-index: 11;
}

#bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100px;
	height: 30vh;
	background: rgba(51,51,51,1);
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,1)), color-stop(19%, rgba(43,43,43,1)), color-stop(48%, rgba(28,28,28,1)), color-stop(100%, rgba(51,51,51,1)));
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: -o-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	background: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(43,43,43,1) 19%, rgba(28,28,28,1) 48%, rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=1 );
	z-index: 11;
}

#message-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translatex(-50%);
	transform: translateX(-50%);
	color: #000;
	text-shadow: 2px 2px 2px #fff;
	font-size: 3em;
	font-weight: bold;
	visibility: hidden;
	text-transform: uppercase;
	z-index: 110;
}

#score-board {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #000;
	box-shadow: 3px 3px 3px #333;
	z-index: 12;
}

#trump {
	height: 350px;
	width: 400px;
	background-image: url('trump.png');
	position: absolute;
	top: 50%;
	left: calc(50% - 200px);
	transform: translateX(-50%);
	transform: translateY(-50%);
	z-index: 100;
	visibility: hidden;
}